@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: row;
  align-items: center;
}

.header {
  background: var(--header, linear-gradient(269deg, #2d2a22 20.66%, #7e6d53 85.22%));
  padding: 11px 64px;
}

header > nav > ul > li,
header > nav > ul > li > a {
  color: white;
}

.nice-logo {
  text-transform: uppercase;
  width: 10px;
  margin-right: 144px;
}

.contact-button {
  margin-left: 166px;
  display: flex;
  padding: 4px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero {
  background-image: url("../src/img/header-bg.png");
}