@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: row;
  align-items: center;
}

.header {
  background: var(--header, linear-gradient(269deg, #2d2a22 20.66%, #7e6d53 85.22%));
  padding: 11px 64px;
}

header > nav > ul > li,
header > nav > ul > li > a {
  color: white;
}

.nice-logo {
  text-transform: uppercase;
  width: 10px;
  margin-right: 144px;
}

.contact-button {
  margin-left: 166px;
  display: flex;
  padding: 4px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero {
  background: url("../img/header-bg.png");
  text-align: center;
  height: 720px;
}

.hero-heading {
  color: var(--text-of-pages, #7e6d53);
  /* main title */
  font-family: Poppins;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-text {
  color: var(--text-of-pages, #7e6d53);
  /* subtitle */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contact-button-text-hero {
  color: var(--button-text, #2d2a22);
  /* subtitle */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contact-button-hero {
  margin-top: 380px;
}