ul, ol {
  list-style: none;
}

#nav {
  display: block;
}

#nice-logo {
  text-transform: uppercase;
  width: 56px;
  margin-right: 144.5px;
}

.header {
  background: var(--header, linear-gradient(269deg, #2d2a22 20.66%, #7e6d53 85.22%));
}

.nav-list-item {
  color: #fff;
}
.nav-list-item:not(:first-child) {
  margin-left: 32px;
}

.nav-list {
  display: flex;
  padding: 22px 68px;
}