<div class="ap-m-b"></div>
<section class="ap m0a justify-content-center align-items-center">
    <h2 class="ap-title">Choose your apartment</h2>
    <ul class="ap-list">
        <li class="ap-item" id="l">
            <img src="./img/type-1.png" alt="img" class="ap-img">
            <h3 class="ap-h3">Type 1</h3>
            <p class="ap-text">total area 97 meters</p>
        </li>
        <li class="ap-item" id="ll">
            <img src="./img/type-2.png" alt="img" class="ap-img">
            <h3 class="ap-h3">Type 2</h3>
            <p class="ap-text">total area 98 meters</p>
        </li>
        <li class="ap-item" id="lll">
            <img src="./img/type-3.png" alt="img" class="ap-img">
            <h3 class="ap-h3">Type 3</h3>
            <p class="ap-text">total area 99  meters</p>
        </li>
    </ul>
    <button class="ap-btn m0a">
        <a href="https://youtu.be/dQw4w9WgXcQ?si=LQWeis4tLPSX5s4G">
            Download catalog
        </a>
    </button>
</section>
<div class="ap-m-b"></div>
