<section class="ap">
    <h2 class="ap-title">Choose your apartment</h2>
    <ul class="ap-list">
        <li class="ap-item">
            <img src="./img/type-1.png" alt="img" class="ap-img">
            <h3 class="ap-h3">Type 1</h3>
            <p class="ap-text">total area 23 meters</p>
        </li>
        <li class="ap-item">
            <img src="./img/type-2.png" alt="img" class="ap-img">
            <h3 class="ap-h3">Type 2</h3>
            <p class="ap-text">total area 27 meters</p>
        </li>
        <li class="ap-item">
            <img src="./img/type-3.png" alt="img" class="ap-img">
            <h3 class="ap-h3">Type 3</h3>
            <p class="ap-text">total area 31 meters</p>
        </li>
        
    </ul>
    <button class="ap-btn">Download catalog</button>
</section>