<footer class="footer">
    <ul class="footer-rows">
        <li class="footer-row nice-logo">Nice view</li>
        <li class="footer-row">
            <ul class="footer-row-list">
                <li class="footer-row-list-item footer-row-heading">Navigation</li>
                <li class="footer-row-list-item">
                    <a href="#hero">Home</a>
                </li>
                <li class="footer-row-list-item">
                    <a href="#hero">About</a>
                </li>
                <li class="footer-row-list-item">
                    <a href="#hero">Apertments</a>
                </li>
                <li class="footer-row-list-item">
                    <a href="#hero">Infrastructure</a>
                </li>
                <li class="footer-row-list-item">
                    <a href="#hero">Gallery</a>
                </li>
            </ul>
        </li>
        <li class="footer-row">
            <ul class="footer-row-list">
                <li class="footer-row-list-item footer-row-heading">Contacts</li>
                <li class="footer-row-list-item">
                    <a href="callto:04065550120">(406) 555-0120</a>
                </li>
                <li class="footer-row-list-item">
                    <a href="https://map.google.com">ul. Chodkiewicza Karola 111, Chorzów </a>
                </li>
                <li class="footer-row-list-item">
                    <a href="mailto:deanna.curtis@example.com">deanna.curtis@example.com</a>
                </li>
            </ul>
        </li>
    </ul>
</footer>