<footer class="footer">
  <div class="container-computer">
    <ul class="footer-rows">
      <li class="footer-row nice-logo nice-logo-footer">Nice view</li>
      <li class="footer-row navigation-footer-computer">
        <ul class="footer-row-list">
          <li class="footer-row-list-item footer-row-heading">Navigation</li>
          <li class="footer-row-list-item">
            <a class="footer-row-list-item" href="#hero">Home</a>
          </li>
          <li class="footer-row-list-item">
            <a class="footer-row-list-item" href="#hero">About</a>
          </li>
          <li class="footer-row-list-item">
            <a class="footer-row-list-item" href="#hero">Apertments</a>
          </li>
          <li class="footer-row-list-item">
            <a class="footer-row-list-item" href="#hero">Infrastructure</a>
          </li>
          <li class="footer-row-list-item">
            <a class="footer-row-list-item" href="#hero">Gallery</a>
          </li>
        </ul>
      </li>

      <li class="footer-row contacts-footer-computer">
        <ul class="footer-row-list">
          <li class="footer-row-list-item footer-row-heading">Contacts</li>
          <li class="footer-row-list-item">
            <a class="footer-row-list-item" href="callto:04065550120"
              >(406) 555-0120</a
            >
          </li>
          <li class="footer-row-list-item">
            <a class="footer-row-list-item" href="https://map.google.com"
              >ul. Chodkiewicza Karola 111, Chorzów
            </a>
          </li>
          <li class="footer-row-list-item">
            <a
              class="footer-row-list-item"
              href="mailto:deanna.curtis@example.com"
              >deanna.curtis@example.com</a
            >
          </li>
        </ul>
      </li>
      <li class="footer-row">
        <ul class="footer-row-list">
          <li class="footer-row-list-item">
            <svg class="icon-svg">
              <use href="./img/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </li>
          <li class="footer-row-list-item">
            <svg class="icon-svg">
              <use href="./img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="footer-row-list-item">
            <svg class="icon-svg">
              <use href="./img/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </li>

          <li class="footer-row-list-item">
            <svg class="icon-svg">
              <use href="./img/symbol-defs.svg#icon-Facebook"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- footer mobile -->
  <div class="container-mobile">
    <div class="contact-nav">
      <ul class="list-footer-row">
        <li class="footer-row footer-nav-mobile">
          <ul class="footer-row-list footer-row-list-mobile">
            <li
              class="footer-row-list-item footer-row-heading footer-nav-heading-mobile"
            >
              Navigation
              
            </li>
            <li class="footer-row-list-item">
              <a class="footer-row-list-item" href="#hero">Home</a>
            </li>
            <li class="footer-row-list-item">
              <a class="footer-row-list-item" href="#hero">About</a>
            </li>
            <li class="footer-row-list-item">
              <a class="footer-row-list-item" href="#hero">Apertments</a>
            </li>

            <li class="footer-row-list-item">
              <a class="footer-row-list-item" href="#hero">Infrastructure</a>
            </li>
            <li class="footer-row-list-item">
              <a class="footer-row-list-item" href="#hero">Gallery</a>
            </li>
          </ul>
        </li>
        <li class="footer-row footer-cantact-mobile-list">
          <ul class="footer-row-list footer-contacts-mobile">
            <li
              class="footer-row-list-item footer-row-heading footer-contact-heading-mobile"
            >
              Contacts
            </li>
            <li class="footer-row-list-item">
              <a class="footer-row-list-item" href="callto:04065550120"
                >(406) 555-0120</a
              >
            </li>
            <li class="footer-row-list-item">
              <a
                class="footer-row-list-item footer-contact-mobile-adress"
                href="https://map.google.com"
                >ul. Chodkiewicza Karola 111, Chorzów
              </a>
            </li>

            <li class="footer-row-list-item">
              <a
                class="footer-row-list-item footer-contact-mobile-email"
                href="mailto:deanna.curtis@example.com"
                >deanna.curtis@<br />example.com</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <div class="icons-footer-mobile">
        <li class="footer-row icons-footer-row">
          <ul class="footer-row-list-icons">
            <li class="footer-row-list-item">
              <svg class="icon-svg">
                <use href="./img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </li>
            <li class="footer-row-list-item">
              <svg class="icon-svg">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </li>
            <li class="footer-row-list-item">
              <svg class="icon-svg">
                <use href="./img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </li>

            <li class="footer-row-list-item">
              <svg class="icon-svg">
                <use href="./img/symbol-defs.svg#icon-Facebook"></use>
              </svg>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</footer>
