<footer class="footer">
    <div class="container">
    <ul class="footer-rows">
        <li class="footer-row nice-logo">Nice view</li>
        <li class="footer-row">
            <ul class="footer-row-list">
                <li class="footer-row-list-item footer-row-heading">Navigation</li>
                <li class="footer-row-list-item">
                    <a class="footer-row-list-item" href="#hero">Home</a>
                </li>
                <li class="footer-row-list-item">
                    <a class="footer-row-list-item" href="#hero">About</a>
                </li>
                <li class="footer-row-list-item">
                    <a class="footer-row-list-item" href="#hero">Apertments</a>
                </li>
                <li class="footer-row-list-item">
                    <a class="footer-row-list-item" href="#hero">Infrastructure</a>
                </li>
                <li class="footer-row-list-item">
                    <a class="footer-row-list-item"  href="#hero">Gallery</a>
                </li>
            </ul>
        </li>
        <li class="footer-row">
            <ul class="footer-row-list">
                <li class="footer-row-list-item footer-row-heading">Contacts</li>
                <li class="footer-row-list-item">
                    <a class="footer-row-list-item" href="callto:04065550120">(406) 555-0120</a>
                </li>
                <li class="footer-row-list-item">
                    <a class="footer-row-list-item" href="https://map.google.com">ul. Chodkiewicza Karola 111, Chorzów </a>
                </li>
                <li class="footer-row-list-item">
                    <a class="footer-row-list-item" href="mailto:deanna.curtis@example.com">deanna.curtis@example.com</a>
                </li>
            </ul>
        </li>
                <li class="footer-row">
            <ul class="footer-row-list">
                <li class="footer-row-list-item">
                    <svg class="icon-svg">
                        <use href="./img/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </li>
                <li class="footer-row-list-item">
                    <svg class="icon-svg">
                        <use href="./img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </li>
                <li class="footer-row-list-item">
                    <svg class="icon-svg">
                        <use href="./img/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </li>
                <li class="footer-row-list-item">
                    <svg class="icon-svg">
                        <use href="./img/symbol-defs.svg#icon-Facebook"></use>
                    </svg>
                </li>
                <li class="footer-row-list-item">

                </li>
            </ul>
        </li>
    </ul>
</div>
</footer>