<section id="gallery">
  <marquee behavior="" direction="">
    <img src="./img/road.opt.jpg" alt="" style="height: 400px;" class="img-glallery" />
    <img src="./img/night-house.opt.jpg" style="height: 400px;" class="img-glallery" alt="" />
    <img src="./img/park-house.opt.jpg"  style="height: 400px;" class="img-glallery"alt="" />
  </marquee>
</section>















































  <!-- <div class="container">
    <h2 class="container-h">Gallery</h2>
    <ul class="container-list">
      <li class="container-list-item">
        <img src="./img/road.opt.jpg" alt="" />
      </li>
      <li class="container-list-item">
        <img src="./img/night-house.opt.jpg" alt="" />
      </li>
      <li class="container-list-item">
        <img src="./img/park-house.opt.jpg" alt="" />
      </li>
    </ul>
  </div> -->