
<header class="header" id="header">
  <nav class="header-nav">
    <div class="burger-menu">
      <input id="menu-toggle" type="checkbox" />
      <label class="menu-btn" for="menu-toggle">
        <span></span>
      </label>
    
      <ul class="menubox">
              <li><a class="menu-item" href="#hero">Home</a></li>
              <li><a class="menu-item" href="#">About us</a></li>
              <li><a class="menu-item" href="#">Apartments</a></li>
              <li><a class="menu-item" href="#">Infrastructure</a></li>
              <li><a class="menu-item" href="#">Gallery</a></li>
              <li><a class="menu-item" href="#">Contacts</a></li>
    
      </ul>
    </div>
    <ul class="nav-list">
      <li class="nav-list-item nice-logo">Nice view</li>
      <li class="nav-list-item nav-list-item-home--">
        <a href="#hero">Home</a>
      </li>
      <li class="nav-list-item nav-list-item-about--">
        <a href="#">About</a>
      </li>
      <li class="nav-list-item nav-list-item-apartments--">
        <a href="#">Apartments</a>
      </li>
      <li class="nav-list-item nav-list-item-infrastructure--">
        <a href="#">Infrastructure</a>
      </li>
      <li class="nav-list-item nav-list-item-gallery--">
        <a href="#">Gallery</a>
      </li>
      <li class="nav-list-item nav-list-item-contact--">
        <a href="#">Contacts</a>
      </li>
      <li class="call-us-button-li">
        <a href="callto:0507054631" class="btn contact-button btn-outline-light"
          >Call us</a
        >
      </li>
    </ul>
  </nav>
</header>
