<section class="infostrykt">
  <h2 class="infrastructure-h2">infrastructure</h2>
  <div class="infostrykt-conteiner">
    <ul class="infostrykt-list">
      <li class="infostrykt-iten">
        <div class="infostrykt-text">
          <p class="infostrykt-time">2 minutes walk</p>
        </div>
        <p class="infostrykt-tit">to the supermaket</p>
      </li>
      <li class="infostrykt-iten">
        <div class="infostrykt-text">
          <p class="infostrykt-time">4 minutes walk</p>
        </div>
        <p class="infostrykt-tit">to the coffee shop</p>
      </li>
      
      </li>
      <li class="infostrykt-iten">
        <div class="infostrykt-text">
          <p class="infostrykt-time">7 minutes walk</p>
        </div>
        <p class="infostrykt-tit">to the nearest park</p>
      </li>
    </ul>
  </div>
</section>