<div class="ph-m-b"></div>
<section class="ph">
    <div class="container-ph">
    <ul class="phb-list m0a">
        <ul class="ph-list">
            <li class="ph-item rad1">
                <img src="./img/ph1.svg" alt="img" class="phi-img">
                <p class="phi-text">50 years of experience</p>
            </li>
            <li class="ph-item rad1">
                <img src="./img/ph2.svg" alt="img" class="phi-img" id="L">
                <p class="phi-text">99+ million happy residents</p>
            </li>
            <li class="ph-item">
                <img src="./img/ph3.svg" alt="img" class="phi-img" id="l">
                <p class="phi-text">2500+ houses built</p>
            </li>
            <li class="ph-item">
                <img src="./img/ph4.svg" alt="img" class="phi-img" id="l">
                <p class="phi-text">1000+ awards</p>
            </li>
        </ul>
        <div class="div-text">
                <h2 class="ph-title">Philosophy of our company</h2>
            <p class="ph-text">Residential complex “Nice view” is an island of tranquility, security and comfort.
            In our project, we created the opportunity to lead a measured life in the very center of the city.
            </p>
        </div>
    </ul>
    <div class="men">
        <img src="./img/men.png" alt="img" class="men-img">
    </div>
</div>
</section>
