ol,ul{
    padding: 0;
}
.m0a{
    margin: 0 auto;
}
.ap-title{
    color: var(--text-of-pages, #7E6D53);

/* title */
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
@media(max-width:320px){
    color: var(--text-of-pages, #7E6D53);
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
}
.ap-list{
    display: flex;
@media(max-width:900px){
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
.ap-item{
    padding: 20px 58px;
@media(max-width:768px){
    padding: 20px 44px;
    }

@media(max-width:768px){
    padding: 20px 32px;
    }
}
.ap-item{
&:not(:last-child){
    margin-right: 32px;
// padding: 20px 58px;
@media(max-width:1000px){
    padding: 20px 44px;
    &:not(:first-child){
        margin-right: 0;
    }
&:first-child{
    margin-right: 32px;
    margin-bottom: 28px;
}
    }
}
@media(max-width:320px){
    
    margin: 0;
    &:not(:first-child){
        margin-right: 0;
        margin-bottom: 28px;
    }
    &:not(:last-child):first-child {
        margin-bottom: 28px;
        margin-right: 32px;
    }
}

}
.ap-item:hover{
    border-radius: 16px;
border: 2px solid #7E6D53;
box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
}


.ap-h3{
    color: var(--button-text, #2D2A22);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 120.5%; /* 38.56px */
text-align: center;
@media(max-width:320px){
    color: var(--button-text, #2D2A22);
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 33.6px */
}
}
.ap-text{
    color: var(--text-of-pages, #7E6D53);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 31.2px */
margin-bottom: 14px;

@media(max-width:320px){
    color: var(--text-of-pages, #7E6D53);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 26px */
}
}
.ap-btn{
    border-radius: 16px;
    background: #7E6D53;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    display: block; 
    width: 264px;
    color: #FCFCFB;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
@media(max-width:480px) {
    width: 240px;
    color: #FCFCFB;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
}
.ap-img{
    margin-bottom: 14px;
    
}
.ap{
    justify-content: center;
    align-items: center;
    display: block;
    padding: 0px 68px;
    @media(max-width:1000px){
        padding: 0px 32px;
    }
}
#l{
    @media(max-width:480px){
    
        padding: 20px 28px;
        margin: 0;
        
        }
    }
.ap-item{
    @media(max-width:480px){
    
        padding: 20px 28px;
        margin: 0;
        width: 280px;
height: 383px;
        text-align: center;
        }
}
#ll{
    @media(max-width:480px){
    
        padding: 20px 15px;
        margin: 0;
        
        }
    }
#lll{
        @media(max-width:480px){
        
            padding: 20px 15px;
            margin: 0;
            
            }
        }

.ap-m-b{
    height: 100px;
    background-color:  #EDE9E3;
    @media(max-width:320px){
    height: 60px;
    }
}


