.nav-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: row;
  // dooing list inline

  align-items: center;
  //   vertical align
}
.header {
  background: var(
    --header,
    linear-gradient(269deg, #2d2a22 20.66%, #7e6d53 85.22%)
  );
  padding: 11px 64px;
}
header > nav > ul > li,
header > nav > ul > li > a {
  color: white;
}
.nice-logo {
  text-transform: uppercase;
  width: 10px;
  margin-right: 144px;
}
.contact-button {
  margin-left: 166px;
  display: flex;
  padding: 4px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: block;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  z-index: 1;
  position: fixed;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-right: 10px;
  z-index: 1000;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  // margin-top: 50px;
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.25s;
  font-size: xx-large;
  padding-top: 5px;
  line-height: 10px;
}
.menu-btn > span::before {
  content: '';
  top: -15px;
}
.menu-btn > span::after {
  content: '';
  top: 15px;
}
.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0;
  list-style: none;
  background: linear-gradient(337deg, #2d2a22 5.7%, #7e6d53 108.98%);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  z-index: 99;
  text-align: center;
}
.menu-item {
  display: block;
  padding: 5px 5px;
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 0;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu-item:hover {
  background-color: #ffa600;
}
#menu-toggle {
  opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
}
.burger-menu {
  display: none;
}
@media (max-width: 768px) {
  .nav-list-item,
  .call-us-button-li {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .nice-logo {
    display: block;
    margin-right: 20px;
    position: absolute;
    left: 20px;
    font-size: xx-large;
    top: 5px;
    z-index: 1;
  }
  .header {
    height: 100px;
  }
}
@media (min-width: 768px), (max-width: 1199px) {
  .contact-button {
    display: none;
  }
}
@media (min-width: 1200px) {
  .contact-button {
    display: block;
    color: rgb(255, 255, 255);

  }
}
.contact-button {
  border: 1px solid;
  border-radius: 20px;
}
