.hero {
  background: url("../img/header-bg.png");
  text-align: center;
  height: 720px;

  @media (max-width: 768px){
    background: url("../img/hero-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 768px ),(max-width: 1199px) {
    background: url("../img/hero-bg-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero-heading {
  color: var(--text-of-pages, #7e6d53);

  /* main title */
  font-family: Poppins;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-text {
  color: var(--text-of-pages, #7e6d53);

  /* subtitle */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.contact-button-text-hero {
  color: var(--button-text, #2d2a22);

  /* subtitle */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;

  // line-height: normal;
}
.contact-button-hero{
    margin-top: 380px;
    height: 50px;
    width: 300px;
    border-radius: 15px;
}

// hero-bg-tablet.png
.contact-button-hero{
  background-color: whitesmoke;
  margin-bottom: 30px;
}