@media(max-width:1000px){
    
}
.m0a{
    margin: 0 auto;
}
.ph{
    background-image: url(../img/phback.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 290px;
    
}

.phb-list{
    display: flex;
    opacity: 0.9;
background: var(--button-background, #FCFCFB);
padding-top: 44px;
padding-bottom: 44px;
padding-left: 0px;
@media(max-width:600px){
    flex-direction: column;
    padding: 0px 20px;
}

}
.philos{
    width: 100%;
}
.ph-list{
    display: flex;
    width: 497px;
height: 252px;
flex-shrink: 0;
flex-wrap: wrap;
margin-left: 134px;
margin-right: 122px;
@media(max-width:1000px){
    margin-left: 32px;
    margin-right: 32px;
    width: 370px;
    height: 268px;
}
@media(max-width:600px){
    width: 280px;
    margin: 0;
}
}
.div-text{
    display: flex;
width: 393px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
@media(max-width:1000px){
    margin-right: 32px;
}
@media(max-width:600px){
    width: 280px;
}
}
.ph-item:nth-child(odd){
    margin-right: 72px;
@media(max-width:1000px){
    margin-right: 32px;
}
@media(max-width:600px){
    margin-right: 20px;
}
}
.rad1{
    margin-bottom: 92px;
@media(max-width:1000px){
    margin-bottom: 60px;
}
}
.ph-item{
    display: flex;
width: 190px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
@media(max-width:1000px){

width: 152px;
flex-wrap: wrap;

}
@media(max-width:600px){
    
width: 130px;

justify-content: center;
align-items: flex-start;
gap: 24px;
margin-bottom: 0;
}
}
.men{
    padding-top: 57px;
    padding-bottom: 94px;
    
    position: absolute;
    bottom: -23%;
    left: 46%;
    transform: translate(-20%, -50%);
}
.ph-text{
    color: var(--text-of-pages, #7E6D53);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
@media(max-width:600px){
    color: var(--text-of-pages, #7E6D53);
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 280px;
margin-bottom: 20px;
}
}
.ph-title{
    color: var(--button-text, #2D2A22);

/* subtitle */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
@media(max-width:600px){
    font-size: 16px;
}
}
.ph-m-b{
    height: 100px;
    background-color:  #EDE9E3;
    @media(max-width:320px){
    height: 60px;
    }
}
